@color-text-h1:#565f6d;
@color-text-p:#6C7583;
@color-background:#FCFCFC;
@color-cta-master:#5282FD;
@color-cta-hover:#1B58F5;




/* - - - -CONTAINERS - - - - - */
.container-content-67{
  display:flex;
  flex-direction:column;
  padding:24vh 0 35vh 0;
  width:67%;
  margin:auto;
}
.container-body-100{
  margin:0 auto;
  background:@color-background;
  z-index:0;
  min-height:100%;
}

/* - - - - - FONTS - - - - - - - -*/
.font-h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 30pt;
  margin-bottom: 36px;
  color: @color-text-h1;
}

.font-p{
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 12.5pt;
  margin-bottom: 36px;
  color: @color-text-p;
  line-height: 160%;
}

.font-anchor{
  .font-p;
  text-decoration: none;
  font-weight:400;
  color:@color-cta-master;
}

.font-button{
  .font-p;
  text-decoration:none;
  font-weight:400;
  letter-spacing: .2px;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

html {
  background: #FCFCFC;

  body {
    .container-body-100;

    main {
      .container-content-67;
      animation: fadeInAnimation ease 1.3s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      section {
        text-align: center;
        div {
          h1 {
            .font-h1
          }
          p {
            .font-p;
          }
        }
      }
      #section-1 {
        margin-bottom: 36px;

        #logo-image {
          margin: auto;
          width: 9rem;
        }
      }
      #section-2{
        display:flex;
        flex-direction:column;
        .button-row{
          display:grid;
          grid-template-columns: 1fr 1fr;
          grid-gap:1em;
          margin:auto;
          text-align: center;
          a{
            button{
              background-color:#fff;
              border:2px solid #565F6D;
              color:#565F6D;
              padding:10px 18px 10px 18px;
              border-radius:2px;
              transition:.3s;
              span{
                font-family: 'Roboto', sans-serif;
                font-weight:400;
                font-size:11pt;
                letter-spacing:.2px;
              }
              &:hover{
                color:#FFF;
                background-color:@color-text-h1;
                border: 2px solid @color-text-h1;
              }
            }
            #button-1{
              color:@color-cta-master;
              border:2px solid @color-cta-master;
              &:hover{
                background-color:@color-cta-hover;
                color:#fff;
              }
            }
          }
        }
      }
    }
  }
}
